# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs 


jobs:
  build:
    docker:
      # imagem: https://github.com/moia-oss/scala-on-circleci
    - image: circleci/openjdk:11-jdk-stretch
    - image: circleci/openjdk:8u222-jdk-stretch
    steps:
    - checkout
    -  run: circleci tests glob "src/test/scala/TestExamples.scala"
    - store_test_results:
        path: test-results
  

    


# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  version: 2
  
  my_workflow:
    jobs:
      - build

